@{
    ViewData["Title"] = "Edit";
}


@model System.Data.DataTable

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Category</h2>
            <hr />
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3 row p-1">

            <label class="p-0">Name</label>

            <input asp-for='Rows[0]["Name"]' type="text" class="form-control" />
            <span asp-validation-for='Rows[0]["Name"]' class="text-danger"></span>

        </div>
        <div class="mb-3 row p-1">

            <label class="p-0">Name</label>

            <input asp-for='Rows[0]["Description"]' type="text" class="form-control" />
            <span asp-validation-for='Rows[0]["Description"]' class="text-danger"></span>
        </div>
        <div class="row mt-3">

            <div class="col-6 col-md-3 mb-3">
                <button type="submit" class="btn btn-primary form-control">Update</button>
            </div>

            <div class="col-6 col-md-3 mb-3">
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                   

                </>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

